{% extends '../layouts/application.html' %}

{% block content %}

<div class="content">
  <p>I like to build things.</p>
  <p>I'm passionate about optimizing processes, making life easier, telling stories, pursuing the innumerable facets of this beautiful world, and the sound of music.</p>
  <p>I believe a healthy obsession for my crafts and an unyielding pursuance of the best possible product will go a long way.</p>
  <p>I believe that it's through the many vessels of art that we understand our culture and the world around us.</p>
</div>

{% endblock %}