{% extends '../layouts/application.html' %}

{% block content %}
<div class="content">
  <span class="hero-text">
    My name i<a target="_blank" title="flickr" href="http://www.flickr.com/photos/jbielick">s</a>
    <a target="_blank" title="github" href="https://github.com/jbielick">Josh</a>
    and I'm <a target="_blank" title="soundcloud" href="http://soundcloud.com/leo-tallstoy">a</a>  mediocre
    de<a target="_blank" title="vimeo" href="http://vimeo.com/jbielick">v</a>e<a target="_blank" title="LinkedIn" href="http://www.linkedin.com/in/joshbielick">l</a>oper.
  </span>
</div>

{% endblock %}
